<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="todos-list">
    <ul class="nav nav-tabs">
        <th:block th:each="todo : ${todos}">
            <li><a data-toggle="tab" th:href="'#todolist-' + ${todo.id}" th:text="${todo.name}">Home</a></li>
        </th:block>
    </ul>
    <div class="tab-content">
        <th:block th:each="todo : ${todos}">
            <div id="'#todolist-' + ${todo.id}" class="tab-pane fade in active">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Bezeichnung</th>
                        <th scope="col">Benötigte Menge</th>
                        <th scope="col">Vorhandene Menge</th>
                        <th scope="col">Eintragen!</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="todoitem,iter : ${todo.getTodolistItems()}">
                        <tr th:classappend="${todoitem.amountNeeded}  == ${todoitem.amountReady} ? alert-success">
                            <td th:text="${iter.index}"></td>
                            <td th:text="${todoitem.name}"></td>
                            <td th:text="${todoitem.amountNeeded}"></td>
                            <td th:text="${todoitem.amountReady}"></td>
                            <td>
                                <button type="button" class="notreadyyet btn btn-primary btn-block btn-assign-me"
                                        th:attrappend="disabled=${todoitem.amountNeeded}  == ${todoitem.amountReady} ? 'disabled'"
                                        th:data-id="${todoitem.id}">Hier will ich helfen</button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>