<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Come and get some work</title>
</head>
<body>

<section layout:fragment="left-nav">
    <div id="grades-list"></div>
</section>

<section layout:fragment="content">
    <div id="content">
        <div class="jumbotron"><h2>Welcome to our school event helper!</h2></div>
        <h3>
            First time here?
        </h3>
    </div>
</section>

<th:block layout:fragment="script">
<script>
$(document).ready(function() {
    tfcmanager.loadGrades($('#grades-list'));
});
</script>
</th:block>
</body>
</html>