<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Organisiert euch!</title>
</head>
<body>

<section layout:fragment="left-nav">
    <div id="grades-list"></div>
</section>

<section layout:fragment="content">
    <div id="content">
        <div class="jumbotron"><h2>Willkommen zu unserem kleinen Helfer für alle Schulefeste!</h2></div>
        <h3>
            Zum ersten mal hier?
        </h3>
        <p>Wähle deine Klasse und danach ein Schulfest aus, dann kannst du dich für eine Aufgabe eintragen</p>
    </div>
</section>

<th:block layout:fragment="script">
<script>
$(document).ready(function() {
    tfcmanager.loadGrades($('#grades-list'));
});
</script>
</th:block>
</body>
</html>